In [ ]:
from array import *
import pandas as pd
import sqlalchemy as db
import datetime 
import matplotlib.pyplot as plt
import scipy.stats as stats
import datetime
import numpy as np
import os

%load_ext sql
%load_ext dotenv

%sql postgresql://$POSTGRES_USER:$POSTGRES_PWD@db/registry

conn_str = 'postgresql://%s:%s@db/registry' % (os.getenv("POSTGRES_USER"), os.getenv("POSTGRES_PWD"))
engine = db.create_engine(conn_str)
connection = engine.connect()

In [9]:
%%sql
SELECT 
  round(sum(container_cpu_usage_sum)::numeric, 2) AS usage,
  round(sum(container_cpu_requests_sum)::numeric, 2) AS request,
  round((sum(container_cpu_usage_sum)/sum(container_cpu_requests_sum)*100)::numeric, 2) AS usage_pct,
  date_trunc('day', created_at) AS date
FROM resource_usage 
GROUP BY date_trunc('day', created_at)
ORDER BY date_trunc('day', created_at)

 * postgresql://app_api_704fkrus:***@db/registry
28 rows affected.

[(Decimal('69.94'), Decimal('825.65'), Decimal('8.47'), datetime.datetime(2022, 7, 5, 0, 0)),
 (Decimal('66.33'), Decimal('799.48'), Decimal('8.30'), datetime.datetime(2022, 7, 12, 0, 0)),
 (Decimal('73.59'), Decimal('804.06'), Decimal('9.15'), datetime.datetime(2022, 7, 18, 0, 0)),
 (Decimal('69.47'), Decimal('802.84'), Decimal('8.65'), datetime.datetime(2022, 7, 25, 0, 0)),
 (Decimal('79.09'), Decimal('794.91'), Decimal('9.95'), datetime.datetime(2022, 8, 2, 0, 0)),
 (Decimal('65.55'), Decimal('788.19'), Decimal('8.32'), datetime.datetime(2022, 8, 8, 0, 0)),
 (Decimal('73.77'), Decimal('784.58'), Decimal('9.40'), datetime.datetime(2022, 8, 30, 0, 0)),
 (Decimal('76.25'), Decimal('783.26'), Decimal('9.73'), datetime.datetime(2022, 9, 6, 0, 0)),
 (Decimal('63.99'), Decimal('769.64'), Decimal('8.31'), datetime.datetime(2022, 11, 21, 0, 0)),
 (Decimal('67.45'), Decimal('784.83'), Decimal('8.59'), datetime.datetime(2022, 11, 28, 0, 0)),
 (Decimal('68.14'), Decimal('786.38'), Decimal('8.67'), datetime.datetime(2022, 12, 5, 0, 0)),
 (Decimal('65.71'), Decimal('787.19'), Decimal('8.35'), datetime.datetime(2022, 12, 12, 0, 0)),
 (Decimal('70.51'), Decimal('795.19'), Decimal('8.87'), datetime.datetime(2022, 12, 19, 0, 0)),
 (Decimal('67.84'), Decimal('795.26'), Decimal('8.53'), datetime.datetime(2022, 12, 27, 0, 0)),
 (Decimal('66.43'), Decimal('791.70'), Decimal('8.39'), datetime.datetime(2023, 1, 3, 0, 0)),
 (Decimal('81.06'), Decimal('796.56'), Decimal('10.18'), datetime.datetime(2023, 1, 16, 0, 0)),
 (Decimal('74.50'), Decimal('797.01'), Decimal('9.35'), datetime.datetime(2023, 1, 23, 0, 0)),
 (Decimal('86.75'), Decimal('781.39'), Decimal('11.10'), datetime.datetime(2023, 2, 7, 0, 0)),
 (Decimal('85.79'), Decimal('777.42'), Decimal('11.04'), datetime.datetime(2023, 2, 13, 0, 0)),
 (Decimal('87.90'), Decimal('779.39'), Decimal('11.28'), datetime.datetime(2023, 2, 21, 0, 0)),
 (Decimal('79.83'), Decimal('788.71'), Decimal('10.12'), datetime.datetime(2023, 2, 28, 0, 0)),
 (Decimal('74.43'), Decimal('808.25'), Decimal('9.21'), datetime.datetime(2023, 4, 18, 0, 0)),
 (Decimal('77.66'), Decimal('801.26'), Decimal('9.69'), datetime.datetime(2023, 4, 25, 0, 0)),
 (Decimal('71.80'), Decimal('801.21'), Decimal('8.96'), datetime.datetime(2023, 5, 2, 0, 0)),
 (Decimal('74.95'), Decimal('794.31'), Decimal('9.44'), datetime.datetime(2023, 5, 9, 0, 0)),
 (Decimal('68.93'), Decimal('773.94'), Decimal('8.91'), datetime.datetime(2023, 5, 24, 0, 0)),
 (Decimal('69.93'), Decimal('792.37'), Decimal('8.83'), datetime.datetime(2023, 6, 16, 0, 0)),
 (Decimal('82.48'), Decimal('869.06'), Decimal('9.49'), datetime.datetime(2023, 7, 3, 0, 0))]

In [ ]:
query = '''
SELECT 
  round((sum(container_cpu_usage_sum)/sum(container_cpu_requests_sum)*100)::numeric, 2) AS usage_pct,
  date_trunc('day', created_at) AS date
FROM 
  resource_usage 
GROUP BY 
  date_trunc('day', created_at)
ORDER BY
  date_trunc('day', created_at);
'''

df = pd.read_sql(query, connection)
df.set_index('date', inplace=True)

fig, ax = plt.subplots()

# linear dates, use len of array and save as tick labels.
bestfit = stats.linregress(range(len(df.index)), df['usage_pct'])
label = str(round(bestfit[0],2)) + "x + " + str(round(bestfit[1],2)) 
label = 'Trend'

ax.plot(range(len(df.index)), df['usage_pct'])
ax.plot(range(len(df.index)), np.poly1d(np.polyfit(range(len(df.index)), df['usage_pct'], 1))(range(len(df.index))), '--',label=label)

# Set x and y labels.
ax.set_xlabel('date')
ax.set_ylabel('pct usage')

# Set date tick labels and legend
# plt.xticks(range(len(df.index)))
ax.set_xticklabels(['nil', '2022-07-05', '2022-08-08', '2022-12-05', '2023-01-16', '2023-02-28', '2023-05-24'])
plt.legend()
plt.title('Silver CPU Utilization')

plt.show()

In [11]:
query = '''
SELECT
  project.project_set_id AS namespace,
  project.name,
  project.ministry,
  project.project_owner_name,
  project.project_onwer_email,
  container_cpu_usage_sum AS usage,
  container_cpu_requests_sum AS request, 
  round((container_cpu_requests_sum - container_cpu_usage_sum)::numeric, 2) AS slack 
FROM 
  resource_usage
JOIN
  project ON project.project_set_id = resource_usage.project_set_id
WHERE 
  date_trunc('day', resource_usage.created_at) = date_trunc('day', now()::date)
ORDER BY
  slack 
DESC LIMIT 10;
'''

top_ten_df = pd.read_sql(query, connection)
top_ten_df.set_index('namespace', inplace=True)

In [ ]:
currentDate = datetime.date.today()
datestamp = currentDate.strftime("%Y%m%d")

print(top_ten_df)
# top_ten_df['slack'].sum()

top_ten_df.to_excel('/w/output-%s.xlsx' % datestamp, index=False)